@import "tailwindcss";

@theme {
  --color-neon-purple: #b026ff;
  --color-neon-blue: #00f0ff;
}

@layer utilities {
  .drop-shadow-glow-purple {
    filter: drop-shadow(0 0 10px rgba(176, 38, 255, 0.7));
  }
  .drop-shadow-glow-blue {
    filter: drop-shadow(0 0 10px rgba(0, 240, 255, 0.7));
  }
}
@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #334155 #0f172a;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #00f0ff;
    box-shadow: 0 0 20px rgba(0, 240, 255, 0.6);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 20px;
  }
}

body {
  @apply bg-slate-950 text-slate-100 antialiased selection:bg-[#00f0ff]/30 selection:text-white overflow-x-hidden;
}
